TEST
<br/>
<form method="post" id="editpost" name="editpost" action="/admin/post/edit/<%= post.id %>">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%= post.title %>"/>
  <p>
  <textarea id="content" name="content" rows="20" cols="30"><%= post.content %></textarea>
  </p>
  <select name="category_id", id="category_id">
    <% for (k in categories){ %>
    <option value="<%= categories[k].id %>" <% if(categories[k].id==post.category_id){ %>selected<% } %>><%= categories[k].name %></option>
    <% } %>
  </select>
  <p><input type="submit" value="Save"/></p>
  <p><input type="hidden" name="id" value="<%= post.id %>"/></p>
</form>
