TEST
<%= title %>
<br/>
<ul>
  <% for (k in posts){ %>
  <li>
  <a href="<%= adminurl %>post/edit/<%= posts[k].id %>">
  <% for (pro in posts[k]) { %>
  <%= posts[k][pro]%> 
  <% } %>
  </a>
  </li>
  <% } %>
</ul>
<p>
<% if (pgnum!=1){ %>
<a href="<%= adminurl %>page/<%= +pgnum-1 %>">&lt</a>
<% } %>
<% if (pgnum!=pgtotal){ %>
<a href="<%= adminurl %>page/<%= +pgnum+1 %>">&gt</a>
<% } %>
