<form method="post" action="/admin/post/batchdelete">
<ul>
  <% for (k in posts){ %>
  <li>
  <a href="<%= adminurl %>post/edit/<%= posts[k].id %>">
  <% for (pro in posts[k]) { %>
  <%= posts[k][pro]%>
  <% } %>
  </a>
  <input type="checkbox" name="deleteid[]" value="<%= posts[k].id %>" />
  </li>
  <% } %>
</ul>
<input type="submit" value="Delete" />
</form>
<% if (pgnum!=1){ %>
<a href="<%= adminurl %>page/<%= +pgnum-1 %>">&lt</a>
<% } %>
<% if (pgnum!=pgtotal){ %>
<a href="<%= adminurl %>page/<%= +pgnum+1 %>">&gt</a>
<% } %>
