<ul>
  <% for (k in posts){ %>
  <li>
  <a href="<%= baseurl %><%= posts[k].pubdate.getFullYear() %>/<%= posts[k].pubdate.getMonth()+1 %>/<%= posts[k].title %>">
  <% for (pro in posts[k]) { %>
  <%= posts[k][pro]%>
  <% } %>
  </a>
  </li>
  <% } %>
</ul>
<p>
<% if (pgnum!=1){ %>
<a href="<%= baseurl %>page/<%= +pgnum-1 %>">&lt</a>
<% } %>
<% if (pgnum!=pgtotal){ %>
<a href="<%= baseurl %>page/<%= +pgnum+1 %>">&gt</a>
<% } %>
